
/* the main page */
.button1 {
    background-color: black;
    color: green;
    opacity: 1;

    height: 30px;
    width: 100px;

    position: absolute;
    top: 55%;
    left: 10%;

    padding: 40px 158px;
    margin-top: -20px;

    font-size: 25px;
    text-align: center;
    white-space: nowrap;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 12px;
    border: 2px solid #00ff00;

    box-shadow: 0 0 20px #00ff00;

    animation: glow 3.5s infinite;
}

@keyframes glow {
    0%   { box-shadow: 0 0 5px #00ff00; }
    50%  { box-shadow: 0 0 20px #00ff00, 0 0 40px #00ff00; }
    100% { box-shadow: 0 0 5px #00ff00; }
}



.button1:hover {
    background-color: rgb(171, 6, 6);
    color: black;
    border-color: red;

    animation: blackGlow 0.8s infinite;
}

@keyframes blackGlow {
    0%   { box-shadow: 0 0 8px rgb(123, 0, 0); }
    50%  { box-shadow: 0 0 20px rgb(136, 0, 0), 0 0 40px rgb(149, 0, 0); }
    100% { box-shadow: 0 0 8px rgb(129, 0, 0); }
}


/* about us page */
@font-face {
    font-family:Tiny5-Regular;
src: url("fonts/Tiny5-Regular.ttf");

}


/* logIn and signup */
.login{
    color: black;
    text-align: center;
}
.form {
    border: 2px solid black;   
    padding: 15px;            
    border-radius: 10px;  
    border-color: rgb(1, 9, 16);  
    border-width: 3px;  
    width: fit-content;
    margin:auto ;
  background-color: rgb(227, 228, 228);
  background-color: rgba(255, 255, 255, 0.6);
  
}
.submit{
    background-color: rgb(86, 184, 219);
    text-align: center;
   padding: auto;
     display: block;
    margin: 20px auto;
    border-radius: 7px;
}

.submit:hover{
    background-color: green;
}

#username{
    color: black;
}
#password{

}

#forgotpass {
   color: rgb(82, 82, 82);       
    font-size: 10px;        
    font-weight: bold;
    cursor: pointer;        
    text-decoration: underline; 
 }

#forgotpass:hover {
    color: #ff0000;          
     
}

.signup-text {
    color: #fa0000;           
    font-size: 12px;        
    font-weight: bold;        
    cursor: pointer;         
    text-decoration: underline;
    transition: transform 0.2s, color 0.2s;  
}

.signup-text:hover {
    color: #595858;           
    transform: scale(1.2);    
}
#orsignup{
    align-items: center;
}
#la{
    color: rgb(82, 82, 82);
}
#gmail{

}
#loginbackground{
     background-image: linear-gradient(to top, rgb(2, 2, 15), rgb(1, 105, 20));
    background-color: rgb(0, 0, 0);
    background-size: cover;   
    background-repeat: no-repeat;
    background-position: center;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center; 
    align-items: center;      
  
}

.box {
    padding: 65px;
    width: 50%;
    display: flex;
    align-items: center;         
    justify-content: space-between; 
}

#avatar1, #avatar2 {
    width: 900px;  
    height: auto;
}
