
/* the main page */
.button1 {
    background-color: black;
    color: green;
    opacity: 1;

    height: 30px;
    width: 100px;

    position: absolute;
    top: 55%;
    left: 10%;

    padding: 40px 158px;
    margin-top: -20px;

    font-size: 25px;
    text-align: center;
    white-space: nowrap;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 12px;
    border: 2px solid #00ff00;

    box-shadow: 0 0 20px #00ff00;

    animation: glow 3.5s infinite;
}

@keyframes glow {
    0%   { box-shadow: 0 0 5px #00ff00; }
    50%  { box-shadow: 0 0 20px #00ff00, 0 0 40px #00ff00; }
    100% { box-shadow: 0 0 5px #00ff00; }
}



.button1:hover {
    background-color: rgb(171, 6, 6);
    color: black;
    border-color: red;

    animation: blackGlow 0.8s infinite;
}

@keyframes blackGlow {
    0%   { box-shadow: 0 0 8px rgb(123, 0, 0); }
    50%  { box-shadow: 0 0 20px rgb(136, 0, 0), 0 0 40px rgb(149, 0, 0); }
    100% { box-shadow: 0 0 8px rgb(129, 0, 0); }
}


/* about us page */
@font-face {
    font-family:Tiny5-Regular;
    src: url( fonts/Tiny5-Regular.ttf);
}

#aboutUs{
    color: #00ff00;
}

.green-box{
background-color: black;
border: #00ff00, 10px, ;
}

.white-text{
color: rgb(231, 232, 233);
}

#gettoknowus-text{
color: aquamarine;
}


.Githubbutton{
color: rgb(0, 0, 0);
}
#greenbutton{

}
#rightsreserved{
    color: #ffffff;
}