


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body#contactus {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../assets/images/wave.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 0;
}


form#contactushere {
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.85); 
  padding: 25px 50px; 
  border-radius: 15px;
  width: 800px;
  max-width: 95%;
  text-align: center;
  box-shadow: 0 15px 50px rgba(0,0,0,0.5);
  border: 3px solid #1e90ff;
}


form#contactushere h1 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: white;
  -webkit-text-stroke: 1px black;
}


form#contactushere label {
  display: block;
  margin-bottom: 3px;
  font-weight: 600;
  font-size: 1rem;
  color: #ffffff;
}


form#contactushere input[type="text"],
form#contactushere select,
form#contactushere textarea {
  width: 100%;
  padding: 10px 15px; 
  margin-top: 3px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  background-color: rgba(255,255,255,0.1);
  color: white;
}


form#contactushere input[type="text"]:focus,
form#contactushere textarea:focus,
form#contactushere select:focus {
  background-color: #2e2e2e;
  color: #ffffff;
  outline: none;
  border-color: #5b9bff;
}


form#contactushere select {
  appearance: none;
  cursor: pointer;
  background-color: rgba(255,255,255,0.1);
  color: #808080;
  padding: 10px 15px;
  border-radius: 10px;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2210%22%20height%3D%227%22%20viewBox%3D%220%200%2010%207%22%20xmlns%3D%22http://www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M0%200l5%207%205-7H0z%22%20fill%3D%23999%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px 7px;
}


form#contactushere input#submitofcontact {
  display: block;
  margin: 10px auto 0 auto;
  background: #1e90ff;
  color: white;
  padding: 12px 30px; 
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 8px 25px rgba(30,144,255,0.5);
}


@media (max-width: 1200px) {
  form#contactushere {
    width: 700px;
  }
}

@media (max-width: 900px) {
  form#contactushere {
    width: 600px;
    padding: 20px 35px;
  }
}

@media (max-width: 600px) {
  form#contactushere {
    width: 90%;
    padding: 15px 20px;
  }

  form#contactushere input#submitofcontact {
    width: 100%;
  }
}
