.box{
  display: flex;  
  align-items: center;
  justify-content: space-between;
padding: 10px;
background-color: rgb(253, 255, 255);
  position: sticky;
    top: 0;
    z-index: 100;

}
.logo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 3%;
}
.box ul{
      display: flex;
    gap: 30px;
    list-style: none;
}
.box a{
    text-decoration:none;
    color: black;
}
.box a:hover{
    color: rgb(127, 127, 127);
}



video{
    display: flex;
    align-content: center;
    justify-content: center;
      position: relative; 
  width: 100%;
  height: 100%; 
  overflow: hidden;

  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
}
.background-video {
    position: relative;
    width: 100%;
    height: 100vh;        
    margin-top: 0;          
    overflow: hidden;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px; 
}
.main p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 80%;
  
  margin: 0; 
  text-align: center;  
  color: white;
text-shadow:
  1px 1px 3px #000;


}
.main {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 250%;
  color: white;
  margin: 0;
  text-shadow:
  0 0 8px #000,
  0 0 15px #000;
}

.button1 {
  background-color: black;
  color: aliceblue;

  padding: 10px 20px;
  font-size: 170%;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.intro{
     width: 100%;        
  height: 700px;      
  object-fit: cover; 
  display: block; 
}

.big-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.big-image {
  width: 100%;        
  height: 700px;      
  object-fit: cover;  
  display: block;
}

.company {
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px; 
}
.company h1 {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 250%;
  color: white;
  margin: 0;
  text-shadow:
  0 0 8px #000,
  0 0 15px #000;

}
.company p {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 150%;
  color: white;
  margin: 0; 
  text-align: center; 
  text-shadow:
  0 0 8px #000,
  0 0 15px #000;

}
.company button{
 background-color: black;
  color: aliceblue;

  padding: 10px 20px;
  font-size: 170%;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.kirby {
  position: absolute;
  top: 300%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px; 
}
.kirby h1 {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 350%;
  color: white;
  margin: 0;
 

   text-shadow:
  0 0 8px #000,
  0 0 15px #000;

}
.kirby p {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 180%;
  color: white;
  margin: 0; 
  text-align: center; 
 text-shadow:
  0 0 8px #000,
  0 0 15px #000;

}
.hackace {
  position: absolute;
  top: 390%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px; 
}
.hackace h1 {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 250%;
  color: white;
  margin: 0;
  text-shadow:
  0 0 8px #000,
  0 0 15px #000;

}
.hackace p {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 150%;
  color: white;
  margin: 0; 
  text-align: center; 
  text-shadow:
  0 0 8px #000,
  0 0 15px #000;

}
.hackace button{
 background-color: black;
  color: aliceblue;

  padding: 10px 20px;
  font-size: 170%;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.supermario {
  position: absolute;
  top: 470%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px; 
}
.supermario h1 {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 250%;
  color: white;
  margin: 0;
  text-shadow:
  0 0 8px #000,
  0 0 15px #000;

}
.supermario p {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 150%;
  color: white;
  margin: 0; 
  text-align: center; 
  text-shadow:
  0 0 8px #000,
  0 0 15px #000;

}
.supermario button{
 background-color: black;
  color: aliceblue;

  padding: 10px 20px;
  font-size: 170%;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}


.team {
  position: absolute;
  top: 220%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 2;

  display: flex;
  flex-direction: column;
  
  gap: 30px; 
}
.team h1 {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 250%;
  color: white;
  margin: 0;
  text-shadow:
  0 0 8px #000,
  0 0 15px #000;
text-align: center;
justify-content: center;
}
.team p {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 130%;
  color: white;
   margin: 0 auto;       
  text-align: center;   
  max-width: 600px;      
  text-shadow:
    0 0 8px #000,
    0 0 15px #000;
  line-height: 1.6; 
transform: translateX(-100px);
}
.team button{
 background-color: black;
  color: aliceblue;

  padding: 10px 20px;
  font-size: 170%;
  border: none;
  border-radius: 12px;
  cursor: pointer;

  display: block;          
  width: 150px;             
  margin: 0 auto;          
  text-align: center;}
footer {
  background-color: black;
  color: #fff8f8;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
